<h1>{{ config("Energielabel.yourText") }}</h1>

{% for prop in item.documents[0].data.properties %}

    {% if prop.group.names.propertyGroupId == "60" %}
    
        {% if prop.property.id in [406, 407, 482, 492, 493, 496] %}
            
        {% endif %}
    {% endif %}

{% endfor %}